@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}


.green-btn{
  @apply bg-green-700 hover:bg-green-800 focus:ring-4 
                          focus:ring-green-300  rounded-lg text-sm px-3 py-2.5 text-center mr-1 mb-1
                          dark:bg-green-200 dark:hover:bg-green-400 dark:focus:ring-green-500 text-gray-100 dark:text-gray-800 font-bold
}
.red-btn{
  @apply bg-red-700 hover:bg-red-800 focus:ring-4 
                          focus:ring-red-300  rounded-lg text-sm px-3 py-2.5 text-center mr-1 mb-1
                          dark:bg-red-200 dark:hover:bg-red-400 dark:focus:ring-red-500 text-gray-100 dark:text-gray-800 font-bold
}
.purple-btn{
  @apply bg-purple-700 hover:bg-purple-800 focus:ring-4 
                          focus:ring-purple-300  rounded-lg text-sm px-3 py-2.5 text-center mr-1 mb-1
                          dark:bg-purple-200 dark:hover:bg-purple-400 dark:focus:ring-purple-500 text-gray-100 dark:text-gray-800 font-bold
}

.blue-btn{
  @apply bg-blue-700 hover:bg-blue-800 focus:ring-4 
                          focus:ring-blue-300  rounded-lg text-sm px-3 py-2.5 text-center mr-1 mb-1
                          dark:bg-blue-200 dark:hover:bg-blue-400 dark:focus:ring-blue-500 text-gray-100 dark:text-gray-800 font-bold
}